%h2 bundle open

.contents
  .bullet
    .description
      주어진 번들된 젬의 소스 디렉터리를 열음
    :code
      $ bundle open GEM
    .description
      %p
        편집기에서 주어진 GEM의 소스 디렉터리를 엽니다. 동작하게 하기 위해서는
        `EDITOR`나 `BUNDLER_EDITOR` 환경변수를 설정할 필요가 있습니다.
