%h2 bundle gem

.contents
  .bullet
    .description
      루비젬을 만들기위한 뼈대를 생성
    :code
      $ bundle gem GEM [--bin or -b]
    .notes
      %p
        옵션:
      %p
        <code>--bin or -b</code>: 라이브러리를 위한 바이너리를 생성.
