%h2 bundle show

.contents
  .bullet
    .description
      번들에 포함된 모든 젬들을 표시하거나 주어진 잼의 경로를 표시
    :code
      $ bundle show [GEM] [--paths]
    .notes
      %p
        옵션:
      %p
        <code>--paths</code>: Gemfile에서 요청한 모든 젬들의 경로들을 나열
    .description
      Gemfile에서 요청한 모든 젬들의 이름과 버전을 나열하여 줍니다.
      [GEM]과 함께 show를 호출하면 머신에서의 젬의 정확한 위치를 나열합니다.
