%h2#sharing
  Sharing
.contents
  .bullet
    .description
      %h3#checking-your-code-into-version-control
        코드를 버전 관리하기

      %p
        한동안 어플리케이션을 개발한 다음 어플리케이션을 <code>Gemfile</code>,
        <code>Gemfile.lock</code>과 함께 체크인하세요. 이 때 저장소는 마지막으로 어플리케이션이
        동작했었을때 사용한 젬들의 정확한 버전의 기록을 가지고 있습니다. <code>Gemfile</code>에
        (버전의 엄격함의 정도에 차이도 있겠지만) 3개의 젬만 있다고 하더라도 어플리케이션은
        수십개의 젬들을 의존하고 의존하는 모든 암시적인 젬들의 요구사항을 고려해야 합니다.

    %p.description
      <strong> <code>Gemfile.lock</code>이 어플리케이션의 코드와 젬들이 재대로 동작했었다는
      확신이있는 최후의 순간을 하나의 묶음으로 만든다</strong>는 점은 중요합니다.
      <code>Gemfile</code>에 젬들의 정확한 버전을 지정한다하여도 같은 수준의 보장은 안됩니다.
      왜냐하면 젬들은 보통 의존성을 범위로 지정하기 때문입니다.

    %p.description
      이후 같은 머신에서 <code>bundle install</code>을 실행하면, 모든 필요한 의존성을 만족하므로
      번들러가 설치 과정을 생략하는것을 볼 수 있습니다.

    %p.description
      <code>.bundle</code> 디렉토리와 그안에 어떤 내용도 체크인하지 말아 주세요. 그 파일들을
      각각의 머신의 특성에 따라 달라지고 <code>bundle install</code> 명령어간의 영속적인 설치
      옵션을 사용합니다.

    %p.description
      <code>bundle pack</code> 명령어를 실행했고 깃의 젬이 아니라면, 번들러에서 요구된 젬들은
      모두 <code>vendor/cache</code>에 다운로드 됩니다. 모든 필요한 젬들이 폴더에 들어있고
      버전관리에 체크인 되어있다면 인터넷이나 루비젬 서버에 접속하지 않고 실행할 수 있습니다.
      이 것은 <strong>생략가능</strong>한 과정이며, 버전관리 저장소의 크기를 늘리므로 추천하지
      않습니다.

  .bullet
    %h3#sharing-your-application-with-other-developers
      어플리케이션을 다른 개발자에게 공유하기

    %p.description
      동료 개발자가 코드를 채크아웃하거나 당신이 다른 머신에 채크아웃하면 개발할때 어플리케이션에서
      사용했던 모든 젬들의 정확한 버전도 (<code>Gemfile.lock</code>안에) 함께 옵니다.
      **거기서** <code>bundle install</code>을 실행하면 번들러는 <code>Gemfile.lock</code>를 찾고
      의존성 해결과정을 생략합니다. 대신에 원래 머신에서 사용했던 것과 같은 모든 젬들을 설치합니다.

    %p.description
      다시 말하자면 어떤 버전의 의존성을 설치해야하는지 고민할 필요가 없습니다. 아까 보았던
      예제에서 <code>rack-cache</code>가 <code>rack >= 0.4</code>에 의존성이 있다고 정의되어도
      <code>rack 1.2.1</code>에서 움직인다고 확신할 수 있습니다. Rack팀이 <code>rack 1.2.2</code>를
      릴리즈하더래도 번들러는 항상 동작이 보장되는 <code>1.2.1</code>을 설치합니다. 이것은
      개발자로 하여금 많은 관리부담을 덜게 합니다. 왜냐하면, 모든 머신에서 똑같은 젬들을 사용하기
      때문입니다.
