%h2 bundle outdated

.contents
  .bullet
    .description
      새로운 버전으로 업데이트 가능한 설치된 젬을 나열
    :code
      $ bundle outdated [GEM] [--local] [--pre] [--source] [--strict]
    .notes
      %p
        옵션:
      %p
        <code>--local</code>: 원격으로 젬을 가져오지 않고 젬 캐시를 사용
      %p
        <code>--pre</code>: 새로운 사전 릴리스 젬을 확인
      %p
        <code>--source</code>: 특정 소스에 대하여 확인
      %p
        <code>--strict</code>: 의존성을 만족하는 오래된 젬을 표시
    .description
      outdated는 특정 소스에서 새로운 버전이 설치 가능한 젬의 이름과 버전을 나열합니다.
      [GEM [GEM ...]]과 함께 outdated를 부르면 주어진 젬에 대해서만 새로운 버전을 체크합니다.
      설치 가능한 사전 릴리스 젬은 기본적으로 무시됩니다.
