%h2 bundle exec

.contents
  .bullet
    .description
      번들의 범위안에서 명령어를 실행
    :code
      $ bundle exec
    .description
      Exec는 명렁어로 하여금 번들안의 젬들의 접근할수 있게 하면서 명령어를 실행합니다.
      bundle exec를 사용하는 동안 번들된 젬들을 시스템에 설치된 젬들 처럼 요청하거나
      부를 수 있습니다.
