%h2 bundle help

.contents
  .bullet
    .description
      각 서브 명령어를 위한 자세한 도움말을 커맨드라인에 보여줌
    :code
      $ bundle help
    .notes
      #{ link_to '같은 결과의 man 페이지를 여기서 보실 수 있습니다', '/v1.5/man/bundle.1.html'}
