%h2 bundle init

.contents
  .bullet
    .description
      현재 작업 디렉터리에 Gemfile을 생성
    :code
      $ bundle init [--gemspec=FILE]
    .notes
      %p
        옵션:
      %p
        <code>--gemspec</code>: 지정한 .gemspec으로 Gemfile을 생성
    .description
      기본 Gemfile을 현재 작업 디렉터리에 생성합니다. Gemfile에 gemspec의 젬을
      추가하려면 --gemspec 옵션으로 gemspec 파일 안의 의존성을 새로 생성된
      Gemfile에 추가할 수 있습니다.
