%h2 번들러를 루비젬스와 함께 사용하기

.contents
  .bullet
    .description
      젬을 처음부터 만든다면, 번들러의 내장 젬 스켈레톤을 사용해, 수정할 기반 젬을 만들 수 있습니다.
    .how
      :code
        $ bundle gem my_gem
      .notes
        이 명령어는 젬 스켈레톤을 <code>my_gem</code> 디렉터리에 만듭니다.

  .bullet
    .description
      gemspec으로 관리되는 젬이 이미 있다면 젬을 위한 Gemfile을 생성할 수 있습니다.
    :code
      $ bundle init
    .notes
      만들었으면, Gemfile에 밑의 내용을 넣으세요.
    :code
      # lang: ruby
      gemspec

  .bullet
    .description
      gemspec 안의 런타임 의존성들은 베이스 의존성으로 간주됩니다. 개발 의존성들은 기본치로 <code>:development</code> 그룹 안에 들어가고요. 그룹명은 <code>:development_group</code> 옵션으로 변경할 수 있습니다.
    :code
      # lang: ruby
      gemspec :development_group => :dev

  .bullet
    .description
      또 <code>:path</code>를 이용해 특정 젬스펙을 지정할 수도 있습니다. gemspec이 <code>/gemspec/path</code> 안에 있다면 이렇게 하세요.
    :code
      # lang: ruby
      gemspec :path => '/gemspec/path'

  .bullet
    .description
      한 디렉터리에 여러 gemspec을 가지고 있다면, <code>:name</code>을 이용해 어느 것을 참조할지 지정할 수 있습니다.
    :code
      # lang: ruby
      gemspec :name => 'my_awesome_gem'
    .notes
      이렇게 하면 <code>my_awesome_gem.gemspec</code>을 사용하겠죠.

  .bullet
    .description
      끝입니다! 개발에 번들러를 사용하거나, 평범하게 gemspec을 사용하세요!
    :code
      $ gem build my_gem.gemspec
