%h2 bundle show

.contents
  .bullet
    .description
      번들에 포함된 모든 gem을 표시하거나 주어진 gem의 경로를 표시합니다.
    :code
      $ bundle show [GEM] [--paths]
    .notes
      %p
        옵션:
      %p
        <code>--paths</code>: Gemfile에서 요청한 모든 gem의 경로를 나열합니다.
    .description
      Gemfile에서 요청한 모든 gem의 이름과 버전을 나열하여 줍니다.
      [GEM]과 함께 show를 호출하면 기기에서의 gem의 정확한 위치를 나열합니다.
