%h2 bundle gem

.contents
  .bullet
    .description
      루비젬을 만들기 위한 뼈대를 생성합니다.
    :code
      $ bundle gem GEM [--bin or -b] [--test=TESTFRAMEWORK] [--edit=TEXTEDITOR] [--ext]
    .notes
      %p
        옵션:
      %p
        <code>--bin or -b</code>: 라이브러리를 위한 바이너리를 생성합니다.
      %p
        <code>--edit</code>: 생성된 gemspec을 지정한 편집기나 BUNDLER_EDITOR,
        EDITOR, VISUAL 환경 변수에 설정된 기본 편집기를 통해 엽니다.
      %p
        <code>--ext</code>: C 확장기능을 위한 뼈대를 생성합니다.
      %p
        <code>--test</code>: 라이브러리를 위한 테스트 디렉터리를 생성합니다.
        기본 값은 'rspec'이지만, 'minitest'도 지원합니다.
