= partial "shared/whats_new"

%h2#version19 v1.9의 새로운 기능

.contents
  .bullet
    .description
      %p
        번들러 1.9는 <em>Molinillo</em>라는 새로운 의존성 해결기를 사용하고,
        다른 변경도 했습니다.
      %p
        이 단락에서는 이번 릴리스에 도입된 주요 기능을 확인할 수 있습니다. 모든 변경점은 번들러 1.9의 changelog에 문서화되어 있습니다.
        = link_to '1.9의 전체 changelog', 'https://github.com/bundler/bundler/blob/1-9-stable/CHANGELOG.md'


%h2#molinillo 의존성 해결에 Molinillo 사용

.contents
  .bullet
    .description
      %p
        번들러의 의존성 해결기는 이제 Stripe에서 제공한 CocoaPods의 의존성 해결
        알고리즘을 사용하는 Molinillo로 만듭니다. 이는 루비로 빌드된 다른 의존성
        관리자에 대해 완전히 문서화, 테스트, 빌드됩니다.
        = link_to 'Molinillo', 'https://github.com/CocoaPods/Molinillo'

%h2#path-gemspec-detection gemspec 검출 개선

.contents
  .bullet
    .description
      %p
        디렉터리는 이제 gemspec을 재귀적으로 찾고 루트에 가까운 spec이
        우선됩니다.

%h2#other-changes 다른 변경

.contents
  .bullet
    .description
      번들러 1.9는 다음 패치도 포함합니다.
      %ul
        %li 일반적이지 않은 충돌을 일으키는 <code>thor</code>의 vendor 개선
        %li 사전 릴리스 번들러 버전에서 <code>bundle gem</code>으로 생성되는 gemspec 수정
        %li <code>bundle which</code>는 이제 디렉터리를 혼동하지 않습니다.
      = link_to '1.9의 전체 changelog', 'https://github.com/bundler/bundler/blob/1-9-stable/CHANGELOG.md'
